<div class="o-container">

<div class="grid grid--center">
  <div class="grid__item lgo--ten-twelfths">
  
    <header class="u-textAlign-center u-padTop-x5 u-padBottom-x5">
      <h1 class="o-heading-medium u-color-black">Your Cart</h1>
    </header>
    
    {% if cart.item_count > 0 %}
      <form action="/cart" method="post" novalidate>
        
        <!-- TABLE HEADER -->
        <div class="u-display-none@mdu u-marBottom-x2 u-padBottom u-borderBottom-grayLight">
          <div class="grid grid--full">
            <div class="grid__item mdo--two-fifths push--mdo--three-fifths">
              <div class="grid grid--full">
                <div class="grid__item one-third u-textAlign-right u-fontSize-large u-fontWeight-medium">
                  Quantity
                </div>
                <div class="grid__item two-thirds u-textAlign-right u-fontSize-large u-fontWeight-medium">
                  Total
                </div>
              </div>
            </div>
          </div>
        </div>

        {% comment %}
          Loop through products in the cart
        {% endcomment %}
        {% for item in cart.items %}
          <div class="cart__row">
            <div class="grid grid--full grid--middle">

              <div class="grid__item mdo--three-fifths">
                <div class="grid grid--middle">

                  <div class="grid__item one-third">
                    <a href="{{ item.url | within: collections.all }}" class="cart__image">

                      {% comment %}
                        More image size options at:
                          - http://docs.shopify.com/themes/filters/product-img-url
                      {% endcomment %}
                      <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" class="o-img-responsive">
                    </a>
                  </div>

                  <div class="grid__item two-thirds">
                    <a href="{{ item.url }}" class="o-link o-link--black u-fontSize-bsm">
                      {{ item.product.title }}
                    </a>
                    {% unless item.variant.title contains 'Default' %}
                      <p class="cart__product-meta">
                        {{ item.variant.title }}
                      </p>
                    {% endunless %}

                    {% assign property_size = item.properties | size %}
                    {% if property_size > 0 %}
                      {% for p in item.properties %}
                        {% assign first_character_in_key = p.first | truncate: 1, '' %}
                        {% unless p.last == blank or first_character_in_key == '_' %}
                          {{ p.first }}:

                          {% if p.last contains '/uploads/' %}
                            <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                          {% else %}
                            {{ p.last }}
                          {% endif %}

                          <br>
                        {% endunless %}
                      {% endfor %}
                    {% endif %}

                    <p class="cart__product-meta">
                      <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="o-link o-link--black">
                        {{ 'cart.general.remove' | t }}
                      </a>
                    </p>
                  </div>

                </div>
              </div>

              <div class="grid__item mdo--two-fifths">
                <div class="grid grid--full cart__row--table">

                  <div class="grid__item one-third text-center">
                    <input type="number" name="updates[]" id="updates_{{ item.id }}" class="cart__product-qty" value="{{ item.quantity }}" min="0">
                  </div>

                  <div class="grid__item two-thirds u-textAlign-right">
                    {% if item.original_line_price != item.line_price %}
                      <small class="cart__price cart__price--strikethrough">{{ item.original_line_price | money }}</small>
                    {% endif %}
                    
                    <span class="cart__price">{{ item.line_price | money }}</span>
                  
                    {% assign discounts_size = item.discounts | size %}
                    {% if discounts_size > 0 %}
                      {% for discount in item.discounts %}
                        <small class="cart__discount">{{ discount.title }}</small>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </div>

            </div>
          </div>
        {% endfor %}

        <div class="cart__row u-marBottom-x8 u-marTop-x2 u-padTop u-borderTop-grayLight">
          <div class="grid grid--full">
            <div class="grid__item lgo--seven-twelfths">
              <div class="cart__note">
                <label for="CartSpecialInstructions" class="u-color-black u-display-block u-marBottom">{{ 'cart.general.note' | t }}</label>
                <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
              </div>
            </div>
            <div class="grid__item lgo--five-twelfths">
              <div class="grid grid--full u-marBottom">
                <div class="grid__item one-half lgo--two-thirds">
                  <p class="cart__subtotal">{{ 'cart.general.subtotal' | t }}</p>
                </div>
                <div class="grid__item one-half lgo--one-third u-textAlign-right">
                  <p class="cart__subtotal">{{ cart.total_price | money }}</p>
                </div>
              </div>
              
              {% if cart.total_discounts > 0 %}
                {% assign cartTotalDiscounts = cart.total_discounts | money %}
                <p class="cart__savings u-marBottom-tiny">{{ 'cart.general.savings_html' | t: savings: cartTotalDiscounts }}</p>
              {% endif %}
              <p class="u-marBottom-tiny"><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>
              <input type="submit" name="update" class="o-button o-button--dark" value="{{ 'cart.general.update' | t }}">
              <button type="submit" name="checkout" class="o-button o-button--dark-fill">
                {{ 'cart.general.checkout' | t }} <span class="icon icon-arrow-right" aria-hidden="true"></span>
              </button>

              {% if additional_checkout_buttons %}
                <div class="additional_checkout_buttons u-marTop">{{ content_for_additional_checkout_buttons }}</div>
              {% endif %}
            </div>
          </div>

        </div>

      </form>

    {% else %}
    
      <header class="section-header text-center">
        <h1 class="text-center">{{ 'cart.general.title' | t }}</h1>
        <hr class="hr--small">
        <p>{{ 'cart.general.empty' | t }}</p>
        <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
      </header>

    {% endif %}
  </div>
</div>
