<section class="u-textAlign-center c-homeHero">
  <div class="c-homeHero-top">
    <h1 class="c-homeHero-title">Express yourself. <br class="u-display-none@mdo" />Shift your mood.</h1>
    <p class="c-homeHero-subtitle">EvaPack Cork Flakes, the new ultimate summer backpack.</p>
  </div>
  <div class="c-homeHero-middle">
    <img src="{{ 'home-hero-packs.png' | asset_url }}" class="u-display-block u-marHorizontal-auto u-marBottom-x2" />
    <a href="/products/evapack?variant=21980787399" class="o-button o-button--dark">Shop now</a>
  </div>
  <div class="c-homeHero-bottom">
    <a href="#intro" class="c-homeHero-scroll" data-scroll data-options='{ "speed": 600, "easing": "easeInOutQuint", "offset": 0 }'>
      <p class="o-link o-link--black">Explore our products</p>
      <svg width="39px" height="39px" viewBox="621 1057 39 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 3.8.1 (29687) - http://www.bohemiancoding.com/sketch -->
          <desc>Created with Sketch.</desc>
          <defs>
              <polyline id="path-1" points="654 1090 627 1090 627 1063"></polyline>
              <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="27" height="27" fill="white">
                  <use xlink:href="#path-1"></use>
              </mask>
          </defs>
          <use id="Rectangle-50" stroke="#979797" mask="url(#mask-2)" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" fill="none" transform="translate(640.500000, 1076.500000) rotate(-45.000000) translate(-640.500000, -1076.500000) " xlink:href="#path-1"></use>
      </svg>
    </a>
  </div>
</section>

<section class="u-padTop-x9 u-padBottom-x9 u-bgColor-white" id="intro">
  <div class="o-container">
    <div class="grid grid--center">
      <div class="grid__item lgo--six-twelfths u-textAlign-center">
        <p class="o-text-large u-marBottom-x2">Changing the way people think about bags. <br class="u-display-none@mdu">We challenge you to approach your everyday life differently.</p>
        <a href="/pages/about-us" class="o-link o-link--gray">Learn more about us</a>
      </div>
    </div>
  </div>
</section>

<!-- EVAONE -->
<section class="u-padTop-x13 u-padBottom-x13 o-bg-cover" style="background-image:url({{ 'home-evaone-bg.jpg' | asset_url }});"> 
  <div class="o-container">
    <div class="grid">
      <div class="grid__item smo--six-twelfths lgo--four-twelfths push--smo--six-twelfths push--lgo--eight-twelfths u-textAlign-left@lg u-textAlign-center@smu">
        <h1 class="o-heading-small u-color-white u-fontWeight-light">EvaOne</h1>
        <h2 class="o-heading-normal u-marBottom u-color-white u-fontWeight-medium">Not another tote bag.</h2>
        <p class="u-color-white u-marBottom-x2">A medium size handbag with one strap running along the bag. The first bag produced while working on EVA.</p>
        <span class="u-color-white u-fontSize-basesm">Coming soon...</span>
      </div>
    </div>
  </div>
</section>

<!-- EVAPACK -->
<section class="u-padTop-x3 u-padBottom-x3" style="background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(203,203,203,0.50) 100%);">
  <div class="o-container">
    <div class="grid grid--middle">
      <div class="grid__item smo--five-twelfths lgo--four-twelfths u-textAlign-center@smu u-marBottom-x4">
        <h1 class="o-heading-small u-fontWeight-light">EvaPack</h1>
        <h2 class="o-heading-normal u-marBottom u-fontWeight-medium">Daily urban adventure.</h2>
        <p class="u-marBottom-x2">Our latest creation, a backback designed especially for the city. Its design makes it 100% Anti-Theft so you can keep all the cool stuff inside.</p>
        <a href="/products/evapack?variant=21980788359" class="o-button o-button--dark">Shop now</a>
      </div>
      <div class="grid__item smo--seven-twelfths lgo--eight-twelfths">
        <img src="{{ 'home-evapack.png' | asset_url }}" width="816" style="max-width:100%;height:auto;" />
      </div>
    </div>
  </div>
</section>

<!-- EVATWO -->
<section class="u-padTop-x13 u-padBottom-x13 o-bg-cover" style="background-image:url({{ 'home-evatwo-bg.jpg' | asset_url }});"> 
  <div class="o-container">
    <div class="grid">
      <div class="grid__item smo--six-twelfths lgo--four-twelfths push--smo--six-twelfths push--lgo--eight-twelfths u-textAlign-left@lg u-textAlign-center@smu">
        <h1 class="o-heading-small u-color-white u-fontWeight-light">EvaTwo</h1>
        <h2 class="o-heading-normal u-marBottom u-color-white u-fontWeight-medium">Versatile.</h2>
        <p class="u-color-white u-marBottom-x2">A medium size handbag with one strap running along the bag. Our award winning bag is designed to adapt to your mood.</p>
        <a href="/products/evatwo/?variant=21983159047" class="o-button o-button--light">Shop now</a>
      </div>
    </div>
  </div>
</section>

<!-- EVACLUTCH -->
<section class="u-padTop-x13 u-padBottom-x15 o-bg-cover o-bg-cover--grey o-bg-cover--fullHeight" style="background-image:url({{ 'home-evaclutch-bg.jpg' | asset_url }});background-color:#eaeaea;"> 
  <div class="o-container">
    <div class="grid grid--middle">
      <div class="grid__item large--six-twelfths u-textAlign-center">
        <h1 class="o-heading-small u-fontWeight-light">EvaClutch</h1>
        <h2 class="o-heading-normal u-marBottom u-fontWeight-medium">Small just got really hot.</h2>
        <p class="u-marBottom-x2">Weight-less clutch, made for your best moments.</p>
        <a href="/products/evaclutch-one/?variant=21983237831" class="o-button o-button--dark">Shop now</a>
      </div>
    </div>
  </div>
</section>

<!-- EVAMINI -->
<section class="u-padTop-x13 u-padBottom-x13 o-bg-cover" style="background-image: linear-gradient(-183deg, #70685E 9%, #3B322C 100%);"> 
  <div class="o-container">
    <div class="grid grid--middle">
      <div class="grid__item smo--five-twelfths lgo--four-twelfths u-textAlign-center@smu u-marBottom-x4">
        <h1 class="o-heading-small u-color-white u-fontWeight-light">EvaMini</h1>
        <h2 class="o-heading-normal u-marBottom u-color-white u-fontWeight-medium">All the things you love, in one place.</h2>
        <p class="u-color-white u-marBottom-x2">A clutch wallet for your most valuable stuff, matching perfectly with any of our EVA bags.</p>
        <a href="/products/evamini/?variant=21980006023" class="o-button o-button--light">Shop now</a>
      </div>
      <div class="grid__item smo--seven-twelfths lgo--eight-twelfths u-textAlign-center">
        <img src="{{ 'home-evamini.png' | asset_url }}" width="445" style="max-width:100%;height:auto;" />
      </div>
    </div>
  </div>
</section>