{% if product == 'evamini' %}

  <div class="o-bg-cover u-padTop-x13 u-padBottom-x13" style="background-image:url({{ 'product-evamini-feature1.jpg' | asset_url }});">
    <div class="o-container">
      <div class="grid">
        <div class="grid__item smo--six-twelfths lgo--three-twelfths u-textAlign-center@smu">
          <h2 class="o-heading-normal u-marBottom u-color-white u-fontWeight-medium u-marBottom-x3@smu">A special little place for precious little things.</h2>
          <p class="u-color-white">A clutch wallet for your most valuable stuff, matching perfectly with any of our EVA bags.</p>
        </div>
      </div>
    </div>
  </div>

{% elsif product == 'evatwo' %}

  <div class="o-bg-cover u-padTop-x13 u-padBottom-x13" style="background-image:url({{ 'product-evatwo-feature1.jpg' | asset_url }});">
    <div class="o-container">
      <div class="grid">
        <div class="grid__item smo--six-twelfths lgo--three-twelfths u-textAlign-center@smu">
          <h2 class="o-heading-normal u-marBottom u-color-white u-fontWeight-medium u-marBottom-x3@smu">Building your bag, to match your style.</h2>
          <p class="u-color-white">A medium size handbag with two straps running along the bag. The first bag produced while working on EVA.</p>
        </div>
      </div>
    </div>
  </div>

{% elsif product == 'evapack' %}

  <div class="o-bg-cover u-padTop-x13 u-padBottom-x13" style="background-image:url({{ 'product-evapack-feature1.jpg' | asset_url }});">
    <div class="o-container">
      <div class="grid">
        <div class="grid__item smo--six-twelfths lgo--four-twelfths u-textAlign-center@smu">
          <h2 class="o-heading-normal u-marBottom u-color-white u-fontWeight-medium u-marBottom-x3@smu">The ultimate anti-theft urban backback.</h2>
          <p class="u-color-white">We have developed a simple yet beautiful way to always keep your belongings safe in the backpack. The opening of the backpack closes with the rope using the bag’s weight. So it is impossible for someone to get anything out of it without your permission.</p>
        </div>
      </div>
    </div>
  </div>

{% elsif product == 'evaclutch-one' %}

  <div class="o-bg-cover u-padTop-x13 u-padBottom-x13" style="background-image:url({{ 'product-evaclutchone-feature1.jpg' | asset_url }});">
    <div class="o-container">
      <div class="grid">
        <div class="grid__item smo--six-twelfths lgo--three-twelfths u-textAlign-center@smu">
          <h2 class="o-heading-normal u-marBottom u-color-white u-fontWeight-medium u-marBottom-x3@smu">Match it, change it, built it.</h2>
          <p class="u-color-white">With more than 30 different combinations, EvaClutch is the ultimate accessory for every aspect of your life.</p>
        </div>
      </div>
    </div>
  </div>

{% elsif product == 'evaclutch-two' %}

  <div class="o-bg-cover u-padTop-x13 u-padBottom-x13" style="background-image:url({{ 'product-evaclutchtwo-feature1.jpg' | asset_url }});">
    <div class="o-container">
      <div class="grid">
        <div class="grid__item smo--six-twelfths lgo--three-twelfths u-textAlign-center@smu">
          <h2 class="o-heading-normal u-marBottom u-color-white u-fontWeight-medium u-marBottom-x3@smu">Match it, change it, built it.</h2>
          <p class="u-color-white">The little cousin of the EvaClutch Two. Smaller but more convenient. With a slighty different design and it’s irresistible combinations.</p>
        </div>
      </div>
    </div>
  </div>

{% endif %}
  